.container {
  display: flex;
  /*Full Height*/
  height: 100vh;
  /*Set Main Axis Direction (Row or Column +/-reverse)*/
  flex-direction:row;
  align-items:center;
  /*flex-wrap:wrap;*/

  border: 10px solid goldenrod;

}

.box {
  flex:1;
}